



.mBttn {
  border-radius: 0 !important;
  border-width: 2px !important;
  border-color: #302d2d !important;
  color: #302d2d !important;
    background-color: transparent !important;
    width: 22vw !important;
}

@media only screen and (max-width: 600px) {
.mBttn {
    width: 80% !important;
}
  }


.contentContainerMain {
    z-index: 10 !important;
    align-content: center !important;
    height: 80vh !important;
}
@media only screen and (max-width: 600px) {
.contentContainerMain {
    z-index: 10 !important;
    align-content: center !important;
    height: 60vh !important;
}
  }


.containerButtons:hover .mBttn {
  background-color: #ffcb05 !important;
  border-color:#fff !important;
  color: #fff !important;
}
.containerButtons .mBttn:hover {
  background-color: #302d2d !important;
  border-color: #302d2d !important;
  color: #ffcb05 !important;
}

.main h1 {
    font-family: "neue-haas-grotesk-display", sans-serif !important; 
    font-weight: 100 !important;
    font-size: calc(33px + 2vw) !important;
    text-align: center !important;
}

.introTxtMain {
    font-family: "neue-haas-grotesk-display", sans-serif !important; 
    font-size: calc(1em + 0.5vw) !important;
    font-weight: 300;
    text-wrap: balance !important;
}

.paddR {
    padding: 0px 10vw 0px 10vw !important;
}

.contentContainer {
    width: 100vw !important;
    overflow: hidden !important;
}

body {
    width: 100vw !important;
    overflow: hidden !important;
    background-color: #ffcb05 !important;
}

.laBl {
    color: #fff !important;
    font-size: calc(400px + 2vw) !important;
    font-weight: 100 !important;
    text-rendering: optimizeLegibility !important;
    animation: laBl 5s ease-in-out 0s 1 normal forwards;
    z-index: -10;
}
@keyframes laBl {
	0% {
		opacity: 0;
        transform: scale(1);
        transform-origin: 50% 0%;
	}

	10% {
		opacity: 1;
        transform: scale(1);
        transform-origin: 50% 0%;
	}

	50% {
		opacity: 1;
        transform: scale(1);
        transform-origin: 50% -50%;
	}

	100% {
		opacity: 1;
        transform: scale(0.68);
        transform-origin: 50% -180%;
	}
}

.fade1 {
    animation: fade2 2.5s ease 0s 1 normal forwards;
}

.fade2 {
    animation: fade2 3s ease 0s 1 normal forwards;
}

.fade3 {
    animation: fade2 1s ease 0s 1 normal forwards;
}

@keyframes fade2 {
	0% {
		opacity: 0;

	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;

	}
}


.labLbox {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translate(-50%, -50%);
    height: 50vh !important;
    width: auto;
}

.fade3 {
    animation: fade4 6s ease 0s 1 normal forwards;
}

@keyframes fade4 {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media only screen and (max-width: 600px) {

  .resumeItem  {
  padding: 0 !important;
  margin-left: 10px  !important;
  font-weight: 200 !important;
  font-size: 14px !important;
  color: #302d2d !important;
  text-decoration: none !important;
  display: block;
}

.dropdown-menu:hover .resumeItem {
    color: #302d2d !important;
    background-color: transparent !important;
    transition:  0.1s linear 0s;
}
:hover.resumeItem {color: #302d2d; }
:hover.resumeHead .resumeItem {
    color: #302d2d !important; transition:  0.1s linear 0s;
}

}

.dropdown-menu:hover .resumeItem {
    color: transparent !important;
    background-color: transparent !important;
    transition:  0.1s linear 0s;
}

:hover.resumeHead .resumeItem {
    color: #302d2d !important; transition:  0.1s linear 0s;
}


:hover.resumeItem {font-weight: 600 !important; }
      .resumeItem {
        list-style-type: none;
        margin-left: 10px !important;
      }
      .resumeList {
        list-style-type: none !important; padding: 0% !important;
      }

.resumeItem  {
  padding: 0 !important;
  margin-left: 10px  !important;
  font-weight: 200 !important;
  font-size: 14px !important;
  color: transparent !important;
  text-decoration: none !important;
  display: block;
}